<%= form_with model: theme do |form| %>
  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
      <% theme.errors.full_messages_for(:name).each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.label :description, class: "label" %>
    <div class="control">
      <%= form.text_area :description, class: "textarea" %>
      <% theme.errors.full_messages_for(:description).each do |message| %>
        <div class="form-error">
          <%= message %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="field">
    <%= form.submit "Submit theme", class: "button is-link" %>
  </div>
<% end %>
