<!DOCTYPE html>
<html>
  <head>
    <title>Strangecase</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: "shared/navbar" %>
    <% if (notice || alert) %>
      <% if notice %>
        <div class="message is-info">
          <div class="message-header">Notice</div> 
          <p class="notice"><%= notice %></p>
        </div>
      <% else %>
        <div class="message is-warning">
          <div class="message-header">Warning</div> 
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
